[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".oh-my-zsh-plugins/autoupdate"]
	path = .oh-my-zsh-plugins/autoupdate
	url = git@github.com:TamCore/autoupdate-oh-my-zsh-plugins.git
[submodule ".oh-my-zsh-plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh-plugins/zsh-completions"]
	path = .oh-my-zsh-plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".oh-my-zsh-plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".vcpkg"]
	path = .vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "/home/amr/.tmux_plugins/tpm"]
	path = /home/amr/.tmux_plugins/tpm
	url = https://github.com/tmux-plugins/tpm
